<div class="card">
  <div class="card-header"
  style="text-align:left">
  <b>Buscar Farmacia de turno</b>
</div>

  <div class="card-body">
    <form  >
        <div class="row">
            <div class="form-group col-sm-3">
                <label >Comuna</label>

                <input
                   class="search-input"/>

              <!--  <select >
                  <option>--Select--</option>
                  <option>
                  </option>
                </select> -->

            </div>

            <div class="form-group col-sm-3">
                <label>Farmacia</label>

                <input
                   class="search-input"/>

              <!--  <select >
                  <option >--Select--</option>
                  <option>
                  </option>
                </select>-->

            </div>

        </div>
    </form>
  </div>
